<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js MySQL デモ</title>
    <style>
    </style>
</head>
<body>
    <table>
        <tr>
            <th>名前</th>
            <th>email</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
        <% users.forEach(function(value) { %>
            <tr class="user_table">
                <td><%= value.name %></td>
                <td><%= value.email %></td>
                <td><a href="/users/<%= value.id %>">更新</a></td>
                <td><button class="delete_button" data-id="<%= value.id %>">削除</button></td>
            </tr>
        <% }); %>
    </table>
    <script>

        // トップページに戻る処理
        function confirmUserDecide() {
            const res = confirm('本当によろしいですか？');
            if(res == false) {
                exit;
            }
        };

        function redirectToTopPage() {
            window.location.href = '';
        };
        // 削除ボタンを押した時にDELETEメソッドに処理を渡して、データ削除後にリダイレクト
        const delButtons = document.querySelectorAll('.delete_button').forEach((deleteButton) => {
            deleteButton.addEventListener('click', (event) => {
                const button = event.currentTarget;
                const id = button.getAttribute('data-id');
                const url = window.location.href + `/${id}`;
                confirmUserDecide();
                fetch(url, {method: 'DELETE'})
                    .then(() => redirectToTopPage());
            });
        });


    </script>
</body>
</html>